@if (!en_edicion){
    <p>ALTA NUEVO ALUMNO</p>
}@else{
    <p>EDICIÓN ALUMNO</p>
}  

<form #formularioAlumno="ngForm" (ngSubmit)="en_edicion ? editarAlumno() : crearAlumno()"  >
    <div class="form-group">
      <label for="nombre">NOMBRE</label>
      <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="alumno.nombre"  class="form-control" id="nombre" placeholder="Intro nombre" required pattern=".{3,20}">
       <div class="alert alert-danger" [hidden]="nombre.valid||nombre.pristine"  >
            El nombre debe tener entre 3 y 20 carateres
       </div> 
    </div>
    <div class="form-group">
      <label for="apellidos">APELLIDOS</label>
      <input type="text" #apellidos="ngModel" name="apellidos" [(ngModel)]="alumno.apellido" class="form-control" id="apellidos" placeholder="Intro apellido" required>
      <div class="alert alert-danger" [hidden]="apellidos.valid||apellidos.pristine" >
       Apellido obligatorio
   </div> 
    </div>
    <div class="form-group">
        <label for="edad">EDAD</label>
        <input type="number" #edad="ngModel" name="edad" [(ngModel)]="alumno.edad" class="form-control" id="edad" placeholder="Intro edad" required min="10" max="120">
        <div class="alert alert-danger" [hidden]="edad.valid||edad.pristine">
            La edad debe estar entre 10 y 120
       </div> 

      </div>
      <div class="form-group">
        <label for="correo">EMAIL</label>
        <input type="email" #correo="ngModel" name="correo"  [(ngModel)]="alumno.email" class="form-control" id="correo" placeholder="Intro email" required email>
        <div class="alert alert-danger" [hidden]="correo.valid||correo.pristine">
            Introduzca un email correcto
       </div> 
      </div>
      <div class="form-group">
        <label for="foto">Foto</label>
        <input class="form-control" type="file" id="foto" (change)="seleccionarFoto($event)" name="foto" >
      </div>
      <br>
     <button type="submit" [class] ="estiloBoton()" [disabled]="!formularioAlumno.valid">{{(en_edicion) ? 'ACTUALIZAR' : 'CREAR'}}</button>
  </form>
